header{
    background-color: #012D63;
   
}

.header_container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 14px 20px ;
}

.header_nav{
    display: flex;
    gap: 29px;
}

.header_nav:nth-child(1) li:nth-child(1) a,
.header_nav:nth-child(2) li:last-child a{
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
text-align: left;
color: white;
}


.header_right{
    display: flex;
    gap: 73px;
}

.header_nav--item{
    font-family: Roboto;
font-size: 24px;
font-weight: 300;
line-height: 28.13px;
text-align: left;
color: #c7c7c7;
}



.header_left{
    width: 100px;
    height: 60px;
}