.main_first--section {
  background-image: url("../images/Group\ 37\ \(1\)\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main_container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.main_first--img {
  padding-left: 14px;
  margin-bottom: 5px;
  padding-top: 94px;
}

.main_first--title {
  font-family: Playfair Display;
  font-size: 144px;
  font-weight: 400;
  line-height: 191.95px;
  text-align: left;
  color: white;
}

.main_first--subtitle {
  font-family: Playfair Display;
  font-size: 72px;
  font-weight: 400;
  line-height: 95.98px;
  text-align: left;
  color: white;
  margin-bottom: 12px;
}

.main_first--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: left;
  color: #ffffff;
  max-width: 508px;
  margin-bottom: 41px;
}

.main_first--btn--wrapper {
  padding-bottom: 183px;
}

.main_first--btn {
  width: 254px;
  height: 67px;
  border-radius: 10px;
  background-color: #8e32c6;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #ffffff;
  border: 0;
}


.main_second--section{
    background-image: url("../images/Group\ 8\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 105px ;
    padding-bottom: 105px;

}


.main_second--cards{
    display: flex;
    padding: 25px 50px;
    border: 5px solid #8E32C6;
    justify-content: center;
    gap: 95px;
}

.main_second--card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_second--card:first-child{
    padding-right: 50px;
    border-right: 1px solid white;
}

.main_second--card:last-child{
    padding-left: 50px;
    border-left: 1px solid white;
}

.main_second--title{
    max-width: 161px;

    font-family: Playfair Display;
font-size: 36px;
font-weight: 400;
line-height: 47.99px;
text-align: center;
color: #ffffff;
}


.main_third--section{
  background-image: url("../images/Group\ 8\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
}


.main_third--section .main_container{
  min-width: 951px;
}

.main_third--title{
  font-family: Playfair Display;
font-size: 48px;
font-weight: 400;
line-height: 63.98px;
text-align: center;
color: #ffffff;
padding-top: 25px;
padding-bottom: 25px;
}



.main_third--cards{
  display: flex;
  justify-content: center;
  gap: 93px;
  padding-bottom: 114px;
}


.main_third--card--text{
  font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
text-align: left;
 color: #ffffff;
 min-width: 228px;
}

.main_third--card--date{
  font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 16.41px;
text-align: left;
color: #D8D8D8;
margin-top: 8px;
padding-bottom: 47px;

}

.main_third--card--person{
  display: flex;
  gap: 5px;

}

.main_third--card--person-name{
  font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 16.41px;
text-align: left;
color: #ffffff;
}

.main_third--card--person-date{
  font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14.06px;
text-align: left;
color: #D8D8D8;
margin-top: 1px;
}

.main_third--card{
  border-radius: 15px;
  padding: 49px 14px 29px 14px;
}


.main_third--card:nth-child(1){
  background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
  box-shadow: 0px 30px 0px -13px #533978;
  box-shadow: 0px 14px 0px -5px #7B54B2;
  
}



.main_third--card:nth-child(2){
  background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
  box-shadow: 0px 30px 0px -13px #61337C;
  box-shadow: 0px 14px 0px -5px #9159B1;
  
}



.main_third--card:nth-child(3){
  background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
  box-shadow: 0px 30px 0px -13px #732F26;
  box-shadow: 0px 14px 0px -5px #B95A4C;
  
}



.main_third--flower{
  position: absolute;
  left: 0;
  bottom: 0;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 19px;
  
}
